<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:/Users/Jairo Bautista/Jairo/Uniandes/7mo semestre/Redes/lab6/lab6Grupo19/videoStreaming"/>
</launchConfiguration>
